@page
@using System.Security.Claims;
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Identity/Pages/_NullLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L&L Coffee</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<body style="background-image: url('/Logo/BackgroundImg/logincoffee.jpg'); background-repeat: no-repeat; background-size: cover; height: 100%;">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center" style="width:1000px">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body" style="background-color:#FCF0CF; align-items:center">
                                <a class="text-nowrap logo-img text-center d-block w-100 py-3 ">
                                    <img src="/Logo/Logo.png" width="180">
                                </a>
                                <h2 class="text-center" style="font-size:20px; color: #1A0B11; padding: 0px 0px 20px 0px">Enter Your Email</h2>
                                <form enctype="multipart/form-data" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mb-3">
                                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Email" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding:10px 0px 0px 0px">
                                        <div class="col-lg-6">
                                            @if (HttpContext.User.FindFirstValue(ClaimTypes.Role) == "Admin")
                                            {
                                                <a type="button" style="display: block; margin: auto; width:fit-content; text-align: left" class="btn btn-danger" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                                    Back to Index
                                                </a>
                                            } @if (HttpContext.User.FindFirstValue(ClaimTypes.Role) == "Staff")
                                            {
                                                <a type="button" style="display: block; margin: auto; width:fit-content; text-align: left" class="btn btn-danger" asp-area="Staff" asp-controller="Home" asp-action="Index">
                                                    Back to Index
                                                </a>
                                            } @if (HttpContext.User.FindFirstValue(ClaimTypes.Role) == "Store Owner")
                                            {
                                                <a type="button" style="display: block; margin: auto; width:fit-content; text-align: left" class="btn btn-danger" asp-area="StoreOwner" asp-controller="Home" asp-action="Index">
                                                    Back to Index
                                                </a>
                                            }
                                            @if (HttpContext.User.FindFirstValue(ClaimTypes.Role) == null)
                                            {
                                                <a type="button" class="btn btn-danger" style="display: block; margin: auto; width:fit-content; text-align: left" asp-page="./Login">Back to Login</a>
                                            }
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="submit" value="Reset Password" style="display: block; margin: auto; width:fit-content; text-align: right" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@await Component.InvokeAsync("Notyf")