@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_NullLayout.cshtml";

}
<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L&L Coffee</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<body style="background-image: url('/Logo/BackgroundImg/logincoffee.jpg'); background-repeat: no-repeat;background-size: cover; height: 100%;">
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center" style="width:1500px">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body" style="background-color:#FCF0CF; align-items:center">
                            <a class="text-nowrap logo-img text-center d-block w-100 py-3 " >
                                <img src="/Logo/Logo.png" width="180">
                            </a>
                            <h2 class="text-center" style="font-size:20px; color: #1A0B11; padding: 0px 0px 20px 0px">Store Owner & Staff Log In</h2>
                            <form enctype="multipart/form-data" method="post">
                                <div class="mb-3">
                                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div >
                                <div asp-validation-summary="ModelOnly" class="text-danger" style="text-align:center; padding:0px 0px 5px 0px"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div style="margin:0px 0px 0px 20px" class="checkbox">
                                            <label asp-for="Input.RememberMe" class="form-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3" style="text-align:right">
                                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Enter" style="display: block; margin: auto; width:200px; align-content:center" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
@await Component.InvokeAsync("Notyf")
