@model TablesideOrdering.Models.ProductSize

@{
    ViewData["Title"] = "Edit";
}
<div class="modal fade" id="EditSize-@Model.SizeId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SizeId" />
                <div class="form-group">
                    <label asp-for="SizeName" class="control-label"></label>
                    <input asp-for="SizeName" class="form-control" />
                    <span asp-validation-for="SizeName" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>