@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link nav-icon-hover" id="drop2" data-mdb-toggle="dropdown" aria-expanded="false">
        <img src="~/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle" />
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
        <div class="message-body">
            <a class="d-flex align-items-center gap-2 dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="ti ti-user fs-6"></i>
                <p class="mb-0 fs-7">My Profile</p>
            </a>
            <a class="d-flex align-items-center gap-2 dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                <i class="ti ti-mail fs-6"></i>
                <p class="mb-0 fs-7">Change Password</p>
            </a>
            <a class="d-flex align-items-center gap-2 dropdown-item" asp-area="Identity" asp-page="/Account/ForgotPassword">
                <i class="ti ti-list-check fs-6"></i>
                <p class="mb-0 fs-7">Recovery Password </p>
            </a>

        </div>
    </div>
    <li>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Identity", new { area = "" })">
            <button id="logout" type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
