@using TablesideOrdering.Areas.Admin.Models;
@model Table

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";


}

<h1>Details</h1>

<div>
    <h4>TableNumber</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTable">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
