@using TablesideOrdering.Models.Admin;
@model ProductSizePrice

@{
    ViewData["Title"] = "Delete";
}

<div class="modal fade" id="DeleteSizePrice-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
            </div>
            <div class="container-fluid">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />
                    <h3>Are you sure you want to delete this?</h3>
                    <div class="form-group">
                        <label class="control-label">Product Id:</label>
                        @Html.DisplayFor(model => model.ProductId)
                    </div>
                    <div class="form-group">
                        <label asp-for="Size" class="control-label">Product Size:</label>
                        @Html.DisplayFor(model => model.Size)
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Description: </label>
                        @Html.DisplayFor(model => model.Price)
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
