@using TablesideOrdering.ViewModels.Customer;
@model HomeViewModel 

    <div class="col-lg-3">
        <div class="header__cart">
            <ul>
                <li><a asp-action="Cart" asp-controller="Home"><i class="fa fa-shopping-bag"></i> <span>@Model.Cart.CartLists.Count()</span></a></li>
            </ul>
            <div class="header__cart__price">Total: <span>@Model.Cart.CartAmount</span> VND</div>
        </div>
    </div>