<div class="col-lg-3">
    <div class="header__cart">
        <ul>
            <li><a asp-action="Index" asp-controller="Carts"><i class="fa fa-shopping-bag"></i> <span>@ViewBag.CartQuantity</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>@ViewBag.CartPrice</span></div>
    </div>
</div>