@using TablesideOrdering.ViewModels;
@model HomeViewModel

<div class="col-lg-3">
    <div class="header__cart">
        <ul>
            <li><a asp-action="Cart" asp-controller="Home"><i class="fa fa-shopping-bag"></i> <span>@Model.Cart.cartViewModels.Count()</span></a></li>
        </ul>
        <div class="header__cart__price">Total: <span>@Model.Cart.CartTotal</span> VND</div>
    </div>
</div>