@using TablesideOrdering.ViewModels;
@model HomeViewModel;

<div id="live-chat" style=" z-index: 1">
    <header class="clearfix">
        <h4>Chat with Staff</h4>
        <!--<span class="chat-message-counter">3</span>-->
    </header>
    <div class="chat">
        <div class="chat-history" id="chatbox">
            <!--<div class="chat-message clearfix">
                <img src="/Logo/Avatar/user.png" alt="" width="32" height="32">
                <div class="chat-message-content clearfix">
                    <span class="chat-time">13:35</span>
                    <h5>John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
                </div>  end chat-message-content 
            </div>  end chat-message 
            <hr>
            <div class="chat-message clearfix" id="chatbox">
               <img src="/Logo/Avatar/defaultavatar.png" alt="" width="32" height="32">
                <div class="chat-message-content clearfix">
                    <span class="chat-time" id="time">13:37</span>
                    <h5 id="user"></h5>
                     <p id="messagesList"></p>
                </div> end chat-message-content 
            </div>  end chat-message 
            <hr>-->
        </div>  <!--end chat-history--> 
        <fieldset>
            <input type="hidden" id="userInput" value="@Model.Chat.ChatRoomID" />
            <input type="hidden" id="receiverInput" value="@Model.Chat.ChatRoomID" />
            <input style="width:80%" type="text" id="messageInput" />
            <input type="button" id="sendButton" class="button" value="send" />
        </fieldset>
    </div> <!-- end chat -->
</div> <!-- end live-chat -->

<style>

    .button {
        background-imange:;
        width: 45px;
        height: 45px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

        .button:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
</style>