@using TablesideOrdering.ViewModels;
@model HomeViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TablesideOrdering</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TablesideOrdering.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/chat.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
</head>
<body>
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            @if (ViewBag.OrderType == null)
            {
                <a asp-action="Index" asp-controller="Home"><img src="/Logo/horizontal logo.png" style="width:80%; height:80%" alt=""></a>
            }
            else
            {
                <a asp-action="Menu" asp-controller="Home"><img src="/Logo/horizontal logo.png" style="width:80%; height:80%" alt=""></a>
            }
        </div>
        <div class="humberger__menu__cart">
            @await Html.PartialAsync("_AddToCart")
        </div>

        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                @if (ViewBag.OrderType == null)
                {
                    <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                }
                <li><a asp-action="Menu" asp-controller="Home">Menu</a>
                <li><a asp-action="History" asp-controller="Home">History</a>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header" style="background:#F3F6FA">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="Home"><img src="/Logo/horizontal logo.png" style="width:80%; height:80%" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            @if (ViewBag.OrderType == null)
                            {
                                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            }
                            <li><a asp-action="Menu" asp-controller="Home">Menu</a></li>
                            <li><a asp-action="History" asp-controller="Home">Order Tracking</a></li>
                        </ul>
                    </nav>
                </div>
                @await Html.PartialAsync("_AddToCart")
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Chat")

    <footer class="footer spad" style="position:static">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/Logo/horizontal logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 20 Cong Hoa St., W.12, Tan Binh Dist., HCMC</li>
                            <li>Email: coffeell2002@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form asp-action="MailPR" asp-controller="Home" method="post">
                            <input type="email" required asp-for="MailPR" placeholder="Enter your mail">
                            <span asp-validation-for="MailPR" class="text-danger"></span>
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/chatbox.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
