@model TablesideOrdering.Areas.StoreOwner.Models.Discount

@{
    ViewData["Title"] = "Edit Discount";
}

<div class="modal fade" id="EditDiscount-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Discount</h5>
            </div>
            <div class="container-fluid">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label class="control-label">Discount Code</label>
                        <input asp-for="DisCode" class="form-control" />
                        <span asp-validation-for="DisCode" class="text-danger"></span>
                    </div>
                    <div class="popup__text">
                        <label class="control-label">Discount Type</label>
                        <select id="getType" onchange="DiscountSelectType();" asp-for="DisType" class="form-control">
                            <option selected>Select Type</option>
                            <option value="Money">Money</option>
                            <option value="Percent">Percent</option>
                        </select>
                        <span asp-validation-for="DisType" class="text-danger"></span>
                    </div>
                    <div id="Form" style="display:none;" class="popup__text">
                        <label id="Money" style="display:none;" class="control-label">Discount Value (VND)</label>
                        <label id="Percent" style="display:none;" class="control-label">Discount Percent (%)</label>
                        <input asp-for="DisValue" class="form-control" />
                        <span asp-validation-for="DisValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Day</label>
                        <input asp-for="DayStart" class="form-control" />
                        <span asp-validation-for="DayStart" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Day</label>
                        <input asp-for="DayEnd" class="form-control" />
                        <span asp-validation-for="DayEnd" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
