@model TablesideOrdering.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model.Product)
{
    <div class="col-lg-3 col-md-4 col-sm-6 ">
        <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="/ProductImage/@item.Pic">
                <ul class="featured__item__pic__hover">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="featured__item__text">
                <h6><a href="#">@item.Name</a></h6>
            </div>
        </div>
    </div>
}

@await Component.InvokeAsync("Notyf")
