@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Areas/Identity/Pages/_NullLayout.cshtml";

}


<div class="tab-pane fade" role="tabpanel" aria-labelledby="password-tab">
    <h3 class="mb-4">Password Reset</h3>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
    </form>
</div>