.category {
    padding-bottom: 30px;
}

.paymentcontainer form .category {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .paymentcontainer form input {
        display: none;
    }

.paymentcontainer form .category {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 140px);
    justify-items: center;
}

.category label {
    width: 70%;
    height: 60%; 
    padding: 20px;
    display: flex;
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

#VNPay:checked ~ .category .VNPayMethod,
#Cash:checked ~ .category .CashMethod,
#Momo:checked ~ .category .MomoMethod {
    box-shadow: 0px 0px 0px 2px #28a745;
}

    #VNPay:checked ~ .category .VNPayMethod .check,
    #Cash:checked ~ .category .CashMethod .check,
    #Momo:checked ~ .category .MomoMethod .check {
        display: block;
    }

label .imgName {
    display: flex;
    /* justify-content: center*/;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span {
    /* margin-left: 20px; */
    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

.VNPay img {
    width: 80px;
}

.Momo img {
    width: 65px;
}

.Cash img {
    width: 65px;
}

.check {
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

    .check i {
        font-size: 18px;
    }

