* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paymentcontainer form input {
    display: none;
}

.paymentcontainer form .category {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
}

.category{
    padding-bottom:30px;
}

.category label {
    width: 90%;
    height: 70%;
    padding: 15px;
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}

#VNPay:checked ~ .category .VNPayMethod,
#Cash:checked ~ .category .CashMethod,
#paypal:checked ~ .category .paypalMethod,
#AMEX:checked ~ .category .amexMethod {
    box-shadow: 0px 0px 0px 2px #28a745;
}

    #VNPay:checked ~ .category .VNPayMethod .check,
    #Cash:checked ~ .category .CashMethod .check,
    #paypal:checked ~ .category .paypalMethod .check,
    #AMEX:checked ~ .category .amexMethod .check {
        display: block;
    }

.VNPay img {
    width: 70px;
}

.Cash img {
    width: 65px;
}

.paypal img {
    width: 80px;
}

.AMEX img {
    width: 50px;
}

img {
    width: 50px;
    height: auto;
}

label .imgName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span {
    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

.check {
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

    .check i {
        font-size: 18px;
    }
