@using TablesideOrdering.ViewModels;
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L&L Coffee</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<style>
    .pointer {
        cursor: pointer;
    }

</style>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All categories</span>
                        </div>
                        <ul>
                            @foreach (var item in Model.Category)
                            {
                                <li><a href="/Home/Menu?term=@item.CategoryName&orderBy=">@item.CategoryName</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-action="Menu">
                                <input name="term" class="form-control" placeholder="What would you like?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="../Logo/BackgroundImg/360_f_503250032_mkrvsf8opcwcskxizcisdpvzrkdnel3x.jpg">
                        <div class="hero__text">
                            <h2>Get up early.<br />Stay up late.</h2>
                            @if (Model.LockOrderType == "" || Model.LockOrderType == "Reservation")
                            {
                            <div class="row">
                                <a class="primary-btn pointer" data-term="Delivery">ORDER NOW</a>
                            </div>
                            <div class="row">
                                <a class="pre-order primary-btn pointer" data-term="Reservation">RESERVATION</a>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <a class="primary-btn pointer" data-term="Eat in">ORDER NOW</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!-- Hero Section End -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @await Component.InvokeAsync("Notyf")
    @section Scripts{
        <script>
            $(document).ready(function () {
                $(".primary-btn").click(function () {
                    $.ajax({
                        url: "/Home/Type",
                        data: {
                            term: $(this).data("term")
                        },
                        success: function (data) {
                            console.log(data);
                            window.location.href = "/Home/Menu"
                        }
                    })
                })
            })
            $(document).ready(function () {
                $(".pre-order").click(function () {
                    $.ajax({
                        url: "/Home/Type",
                        data: {
                            term: $(this).data("term")
                        },
                        success: function (data) {
                            console.log(data);
                            window.location.href = "/Home/Reservation"
                        }
                    })
                })
            })
        </script>
    }
</body>

