@using TablesideOrdering.ViewModels;
@model HomeViewModel
@{
    Layout = null;
    ViewData["Title"] = "PhoneValidation";
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Please enter your phone number to get notification when your order done!</p>
                                <form asp-action="PhoneValidation" asp-controller="Home" enctype="multipart/form-data" method="post">
                                    <div class="mb-3">
                                        <label>Phone Number</label>
                                        <input type="tel" data-val="true" asp-for="PhoneValid.PhoneNumber" class="form-control" aria-required="true" />
                                        <span asp-validation-for="PhoneValid.PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label>Phone Confirm</label>
                                        <input type="tel" data-val="true" asp-for="PhoneValid.PhoneConfirmed" class="form-control" aria-required="true" />
                                        <span asp-validation-for="PhoneValid.PhoneConfirmed" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label>Table Number</label>
                                        <input type="tel" data-val="true" asp-for="PhoneValid.TableNo" class="form-control" aria-required="true" />
                                        <span asp-validation-for="PhoneValid.TableNo" class="text-danger"></span>
                                    </div>
                                    <input type="submit" value="Enter" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}